@import "Boostrapscss/bootstrap.scss";
@import "index";
@import "faq";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title {
  width: 100%;
  height: 50vh;
  .container-fluid {
    // position: absolute;
    .text {
      text-align: center;
      p {
        text-align: center;
      }
    }
  }
}
footer {
  width: 100%;
  height: 20vh;
  background-color: black;
  .text {
    text-align: center;
    color: blanchedalmond;
  }
}
.pic {
  background-color: blanchedalmond;
}
.btn-primary-hover:hover {
  background-color: burlywood;
  color: rgb(151, 204, 186);
  border: 1px solid burlywood;
}
.carousel-inner{
  height:300px;
}
.bgimg{
  background-image: url('../image/totem-1.png');
  background-position:100% 100%;
  background-repeat: no-repeat;
  background-size:cover;
}